@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "SF Pro Text, Light";
  /* ../../public/fonts/sf/SFProText-Light.ttf */
  /* /fonts/sf/SFProText-Light.ttf */
  src: url('../../public/fonts/sf/SFProText-Light.ttf'); 
}
html,
body {
  background-color: #a9a9a92e!important;  
  /* -webkit-tap-highlight-color: transparent;  */
  font-family: "SF Pro Text, Light";
  /* overflow: hidden; */
  /* background-image: linear-gradient(70deg, rgb(33, 24, 83), rgb(21, 121, 37)); */
  
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.fixed-header .app-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
}

.fixed-footer .app-footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1030;
}
.app-footer {
    grid-area: lte-app-footer;
    width: inherit;
    max-width: 100vw;
    min-height: 3rem;
    padding: 1rem;
    color: var(--bs-secondary-color);
    background-color: var(--bs-body-bg);
    border-top: 1px solid var(--bs-border-color);
    transition: 0.3s ease-in-out;
}

.center {
    text-align: center!important;
}

select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
display: none;
}
option {
color: black;
}
.attendance-school-font {
    font-size:  220%;
    font-weight: bolder;
}
.attendance-nav {
    background-color: #9ccdfa;

    border-color: #028eb4;
    border-style: solid; 
    border-bottom-width: 1px;

    box-shadow:0 0 20px rgb(74 152 224 / 93%);
}
.attendance-nav-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 110px;
}
.log-user-photo {
    width: 25%;
    float: left;
  
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    /* padding-right: 15px; */
    
    height: 86.5vh!important;
    max-height: 86.4vh!important;
  
    display:flex;
    flex-direction:column;
    /* background-color: #5f6870; */
}
.log-center-data-mobile {
    /* width: 60%; */
    /* float: left; */
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 6px;
  
    background-color: #9ccdfa36;
    /* background-color: #ddd8d87a; */
    height: 86vh!important;
    
    margin-left: auto!important;
    margin-right: auto!important;

    /* display:flex;
    flex-direction:column; */
}
.log-center-data-mobile .header_time .timeCount {
    font-size: 2vh; 
    text-align: center;
    width: 100%; 
}
.log-center-data-mobile .header_time .dateCount {
    padding: 0;
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 10px;
    font-size: 2vh;
}
.log-center-data {
    width: 60%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 6px;
  
    background-color: #9ccdfa36;
    /* background-color: #ddd8d87a; */
    height: 86vh!important;
  
    display:flex;
    flex-direction:column;
}
.log-right-photo-list {
    width: 14.9%;
    float: left;
    position: relative;
    min-height: 1px;
    /* padding-left: 15px;
    padding-right: 15px; */
  
    /* background-color: #694c4c; */
    height: 86.4vh!important;
    /* height: 99vh!important; */
  
  
    white-space: nowrap;
    cursor: grab;
    /* overflow-y: auto; */
    /* -webkit-overflow-scrolling: touch!important;  */
}
.logo_round { 
    border-color: #ffffff;
    border-style: solid;
    border-width: 10px;
    margin-top: 15px;
    border-radius: 50%;
    background-color: #ffffff;
} 
.logo_round_mini { 
    border-color: #ffffff;
    border-style: solid; 
    border-radius: 50%;
    background-color: #ffffff;
}
.shadow {
    box-shadow:0 0 20px rgba(102, 101, 101, 0.384);
}
.border_shadow {
    border-color: #a0a0a0;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    border-radius: 10%;
    background-color: #ffffff;
    box-shadow: 0 0 20px #0a58ca29;
}
.photo-upload { 
    /* width: 60%!important;  */
    width: 200px;
    max-height: 45.5vh!important; 
    margin-bottom: 10px;
}
.attendance-login-profile {
    margin-top: 50px;
    width: 90%!important; 
    max-height: 45.5vh!important; 
}
.header_time {
    /* margin-left: 20px!important;
    margin-bottom: 20px!important;  */
    text-align: center;
    width: 100%;
}
.attendance-list-mobile { 
    position: relative;
    bottom: 1px;
    text-align: center;
    width: 100%;
}
.timeCount {
    font-size: 11vh;
    margin-bottom: -20px;
    text-align: center;
    width: 100%; 
}
.header_time2 {  
    text-align: center;
    width: 100%; 
    min-height: 47.5vh;
}
.dateCount {
    padding: 0;
    margin-top: 0px;
    margin-left: 8px;
    margin-bottom: 10px;
    font-size: 4vh;
}
.logger-details-space {
    max-height: 34.3vh;
    height: 34vh;
    /* background-color: #028eb4; */
}
.logger-name {
    font-size: 400%; 
    text-align: center;
    width: 100%;  
    /* padding:10px; */
    margin-bottom: 5px;
    line-height: 0.8;
    /* border-color: #2c3335;
    border-style: solid; 
    border-radius: 10px;
    background-color: #78bbf8;
    box-shadow:0 0 5px rgba(102, 101, 101, 0.384); */
}
.logger-name-small {
    font-size: 250%;
    /* margin-bottom: -20px; */
    text-align: center;
    width: 100%; 
    /* padding:10px; */
    
    /* margin-bottom: 5px; */

    /* border-color: #2c3335;
    border-style: solid; 
    border-radius: 10px;
    background-color: #78bbf8;
    box-shadow:0 0 5px rgba(102, 101, 101, 0.384); */
}

.time-logs {
    /* font-size: 250%; */

    font-size: 3vw;
    margin-top: 80px;
    margin-right: 20px;
    text-align: center;
    width: 95%; 

    border-color: #2c3335;
    border-style: solid; 
    border-radius: 10px; 
    margin-bottom: 5px;
    box-shadow:0 0 5px rgba(102, 101, 101, 0.384);
}

.logo_round_mini_mobile { 
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: #ffffff;
}
.image_list {
    width: 100%;
    box-shadow: 0 1px rgba(102, 101, 101, 0.384);
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px; 
}
.image_list img {
    /* width: 100%!important;  */
    margin-left: auto;
    margin-right: auto;
}
.logo_round_mini_name {
    display: block;
    /* width:100%!important; */
    height: auto;
    /* color: #f5f5f5;  */
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    margin-left: auto;
    margin-right: auto;
}
.view_list_right_side {
    width: 100%;
    float: left; 
    min-height: 1px;
    margin-top: 5vh;
    /* height: 86.5vh!important;  */
    height: 81vh!important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    white-space: nowrap;  
    cursor: grab;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch!important;
}
.log-center-data-total-logs {
    position: absolute;
    bottom: 0px;
}

.log-right-photo-list-time {
    width: 100%!important;
    font-size: 20px!important;
    margin-left: auto;
    margin-right: auto;
}
.auto-margin-lr {
    margin-left: auto;
    margin-right: auto;
}
.paganation-button-attendance {
    float: left;
    width: 100%;
    bottom: 0px;
    right: 0px;
    height: 55px;
    box-shadow: 2px -2px 5px 0px rgb(74 152 224 / 93%);
}
.paganation-button-attendance2 > button {
    width: 6.5vw!important;
    
}
.crop-app {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}
.crop-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    height: 40px;
    display: flex;
    align-items: center;
}

.slider {
    padding: 22px 0px;
}

.zoom-range {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2px;
    /* border-top: 5px solid #fff; */
    /* border-bottom: 5px solid #fff; */
    background: #3f51b5;
    width: 100%;
}

.zoom-range::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #3f51b5;
    background: #3f51b5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

.zoom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #3f51b5;
    background: #3f51b5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: box shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.controls:hover input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
    border-radius: 50%;
}

.controls:hover input[type='range']::-moz-range-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
}

.login-bg {
    background-image: url('../../public/images/bg/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.6; */
}
.post {
    border-bottom: 1px solid #adb5bd;
    color: #666;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.post .user-block {
    margin-bottom: 15px;
    width: 100%;
}
.user-block {
    float: left;
}
.user-block img {
    float: left;
    height: 40px;
    width: 40px;
}

.img-circle {
    border-radius: 50%;
}
.img-bordered-sm {
    border: 2px solid #adb5bd;
    padding: 2px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.user-block .description {
    color: #6c757d;
    font-size: 13px;
    margin-top: -3px;
}
.user-block .comment, .user-block .description, .user-block .username {
    display: block;
    margin-left: 50px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.user-block .username {
    font-size: 16px;
    font-weight: 600;
    margin-top: -1px;
}
.user-block .comment, .user-block .description, .user-block .username {
    display: block;
    margin-left: 50px;
}
.card-widget {
    border: 0;
    position: relative;
}
.widget-user .widget-user-header {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 135px;
    padding: 1rem;
    text-align: center;
}
.widget-user .widget-user-username {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
.widget-user .widget-user-desc {
    margin-top: 0;
}
.widget-user .widget-user-image {
    left: 50%;
    margin-left: -45px;
    position: absolute;
    top: 80px;
}
.widget-user .widget-user-image>img {
    border: 3px solid #fff;
    height: auto;
    width: 90px;
}

.elevation-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23) !important;
}
.img-circle {
    border-radius: 50%;
}
.widget-user .card-footer {
    padding-top: 50px;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 0) calc(.25rem - 0);
}
.card .border-right {
    border-right: 1px solid rgba(0, 0, 0, .125);
}
.border-right {
    border-right: 1px solid #dee2e6 !important;
}
.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.my-qr-code {
    display: flex;
    height: 77vh;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
       
}
.my-qr-code-content {
    width: 60vw;
    height: 60vh;
    display: table; 
    /* background-color: brown; */
}